@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>What is it all about?</h3>

Soup? Dancing? Terratrops? No, my good friend. This site simply exists to show I understand MVC/Razor/Calling a restful service/
how shopping carts work.