@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Hello. I'm Nick Meyer.</h3>
<br />
<br />

<address>
    <abbr title="Phone">P:</abbr>
    678.200.8936
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:meyersoftware@gmail.com">meyersoftware@gmail.com</a>
</address>