
@{
    ViewBag.Title = "GoodJob";
}

<div class="text-center col-md-12">
<h2>Good Job</h2>
<br />
<br />
<img src="~/Images/nicks last page.jpg" class="img-rounded" />
<br />
<br />
Enjoy it! You deserve it!
</div>